<!--Header Section-->
<div class="jumbotron">
  <h1>ng-fund-app</h1>
  <h4>Displays details about the Asset Fund using Angular, Node and Grunt.</h4>
</div>
<!--
  NGFundAppController:
    - accesses the fund.json file.
-->
<div class="main" ng-controller="ngFundAppController">
    <div id="fund" >
        <ul>
            <li>
                <input type="checkbox" checked>
                <i></i>
                <h2>{{contents.fund.FundName}}</h2>
                <p>
                    <b>Fund Size:             </b> {{contents.fund.FundSize || "- -" | number}} <br>
                    <b>Launch Date:           </b> {{contents.fund.LaunchDate | date:'dd.mm.yyyy'}}<br>
                    <b>Ticker Symbol:         </b> {{contents.fund.TickerSymbol || "- -"}}<br>
                    <b>Security:              </b> {{contents.fund.security || "- -"}}<br>
                    <b>Sector:                </b> {{contents.fund.Sector || "- -"}}<br>
                    <b>Asset Class:           </b> {{contents.fund.AssetClass || "- -"}}<br>
                    <b>Investment Style:      </b> {{contents.fund.InvestmentStyle || "- -"}}<br>
                    <b>Morningstar Rating:    </b> {{contents.fund.MorningstarRating || "- -"}}<br>
                    <b>NAV:                   </b> {{contents.fund.NAV || "- -"}}<br>
                    <b>NAV Change:            </b> {{contents.fund.NAVChange || "- -"}}<br>
                    <b>1 Day Return:          </b> {{contents.fund.1DayReturn || "- -"}}<br>
                    <b>YTD Return:            </b> {{contents.fund.YTDReturn || "- -"}} <br>
                    <b>Region:                </b> {{contents.fund.Region || "- -"}}<br>
			              <b>Currency:              </b> {{contents.fund.Currency || "- -"}} <br>
			              <b>Total Returns:         </b> {{contents.fund.TotalReturns || "- -"}} <br>
                    <b>Average Annual Returns:</b> {{contents.fund.AverageAnnualReturns || "- -" | currency}} <br>
			              <b>Yield:                 </b> {{contents.fund.Yield}}
                </p>
              </li>
        </ul><!-- End of collapsable section -->
    </div>
</div>

<div class="footer">
  <p>Max-Andre Zils | 083 280 8046 | <a href="mailto:zilsmc@gmail.com">zilsmc@gmail.com</a></p>
</div>
